.ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-top: 80px; 
    margin-right:90px
  }

  li a{
    text-align: center;
    border-right: 0.5px;
    margin-left: 20px;
    color:blue;
   
  }
  #body1{
    background-color: rgba(128, 128, 128, 0.144);
    margin-left: 50px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 70px;
    margin-right:50px;
  }
  #body2{
    display: flex;
    justify-content:space-around;
    margin-left: 10px;
    margin-right: 10px;
  }
  #childb2{

    background-color: rgba(128, 128, 128, 0.158);
    padding-right: 200px;
    padding-left: 110px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 30px;
    
  }
  #body3{
    display: flex;
    justify-content: space-around;
  }
  a{
    color: black;
    margin-left: 85px;
  }
  #body4{
    display:flex;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: rgba(128, 128, 128, 0.178);
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .b2{
    background-color:rgb(59, 163, 228);
    color: white;
    padding:10px 100px 10px 0px;
    font-family:monospace;
    box-shadow: 10px;
    height:8vh;
    width:40vh;
    margin-left:5px;
}

.t1{
  padding:10px 90px 10px 2px;
  width:60vh;
  height:4vh
}
  #body5{
    display:flex;
    justify-content: space-between;
    margin-left:80px;
    margin-right:80px;
  }

#b1{
  height:6vh;
  width:15vh;
  background-color: rgba(253, 252, 252, 0.788);
}

@media screen and (max-width :970px) {
  #body2{
     display: inline-block;
     
  }
  
  
}

@media screen and (max-width :970px ) {
  #body3{
     display: inline-block;
     
  }
  
  
}
@media screen and (max-width :970px) {
  #body4{
     display: inline-block;
     overflow: hidden;
     
  }
  
  
}
